<link rel="stylesheet" href="../css/navigate.css" />
<body>
  <nav class="nav">
    <div class="container">
      <h1 class="logo"><a class="navi-logo">Delusion</a></h1>
      <ul>
        <!-- <li><a class="btn navi-menu navi-home">Home</a></li> -->
        <li><a class="btn2 navi-menu  navi-study">Study</a></li>
        <li><a class="btn3 navi-menu  navi-project">Project</a></li>
        <li><a class="btn4 navi-menu  navi-about">About</a></li>
      </ul>
    </div>
  </nav>
  <script src="../js/navigate_ui.js"></script>
  <script src="../js/navigate.js"></script>
</body>

