<link rel="stylesheet" href="../css/study-left-menu.css" />
<body>
  <div class="study-left-menu-container">
    <ul>
      <li class="study-li active">
        전체
      </li>
      <li class="study-li">
        개발환경
      </li>
      <li class="study-li">
        언어
      </li>
      <li class="study-li">
        Framework
      </li>
      <li class="study-li">
        API
      </li>
      <li class="study-li">
        DB
      </li>
      <li class="study-li">
        이론
      </li>
      <li class="study-li">
        그외
      </li>
    </ul>
  </div>
  <script src="../js/study_left_menu.js"></script>
</body>

