<link rel="stylesheet" href="../css/study-content.css" />
<body>
  <div class="study-content-container">
    <div class="study-lists">
      <div class="list">

      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">

      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">

      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>
      <div class="list">
        
      </div>

    </div>
  </div>
</body>

