<link rel="stylesheet" href="../css/study-left-menu.css" />
<body>
  <div class="study-left-menu-container">
    <ul>
      <li>
        test1
      </li>
      <li>
        test1
      </li>
      <li>
        test1
      </li>
      <li>
        test1
      </li>

      <li>
        test1
      </li>
      <li>
        test1
      </li>
      <li>
        test1
      </li>
      <li>
        test1
      </li>
      <li>
        test1
      </li>
      <li>
        test1
      </li>
      <li>
        test1
      </li>

      <li>
        test1
      </li>
      <li>
        test1
      </li>
      <li>
        test1
      </li>
      
    </ul>
  </div>
</body>

