*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    margin-right:10px;
    height:100%;
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}

.left-menu{
    position: fixed;
    top: 72px;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    border-width: 10px;
    border-style: dotted;
    border-color:red;
}

body::-webkit-scrollbar {
    display: none;
}

header{
    width:100%;
    height:wrap;
}
