*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    height:100%;
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}

body::-webkit-scrollbar {
    display: none;
}

header{
    width:100%;
    height:wrap;
}


.content-div{
    margin-top:73px;
}