body {
  text-align: center;
  font-family: "Muli", sans-serif;
  height: 100%;
  width:90vw;
  margin: 0;
  margin-left:auto;
  margin-right:auto;
}

.container {
  width:100%;
  height:100%;
  align-items: center;
}

.project-list{
  display: flex;
  width:100%;
  height:100%;
  padding-top:100px;
}

.first-img{
  background-image: url('../img/browser2.jpg');
}

.second-img{
  background-image: url('../img/browser2.jpg');
}

.thrid-img{
  background-image: url('../img/browser2.jpg');
}

.fourth-img{
  background-image: url('../img/browser2.jpg');
}

.fifth-img{
  background-image: url('../img/browser2.jpg');
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 100px;
  margin: 0;
  opacity: 0;
}

.panel .btn {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
  border-radius: 50px;
  margin:0px;
  margin-top:4px;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}