.study-content-container{
    width:90%;
    height:100%;
    padding:30px;
    background-color:white
}

.study-lists{
    display:inline;
}


.list {
    float:left;
    width:250px;
    height:250px;
    margin-right:30px;
    margin-bottom:30px;
    background-color:rgb(221, 230, 196);
}