

.study-container{
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    padding-bottom:30px;
    overflow-y:hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.study-left-menu{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:200px;
}

.study-subject-content{
    display:block;
    margin-left:200px;
    width:auto;
    background-color:white;
    overflow-y:hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition: 400ms ease-in-out
}

.study-list-content{
    display:block;
    margin-left:200px;
    width:auto;
    background-color:white;
    overflow-y:hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition: 400ms ease-in-out
}

.max{
    height:100%;
    transition: 400ms ease-in-out
}

.min{
    height:0;
    transition: 400ms ease-in-out
}
