

.study-container{
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    padding-bottom:100px;
    margin-bottom:100px;
}

.study-left-menu{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:200px;
}

.study-content{
    margin-left:200px;
    width:auto;
    height: auto;
    background-color:white;
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}