.study-content-container{
    width:90%;
    height:100%;
    padding:55px;
    background-color:white
}

.study-lists{
    display:inline;
}


.list {
    float:left;
    width:250px;
    height:250px;
    margin-right:35px;
    margin-bottom:60px;
    background-color:#f8f6fb;
    border-radius: 18px;
    box-shadow:5px 5px 5px rgba(187, 184, 184, 0.6);

}